*, *::before, *::after {
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, #0af, #0f6c);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: top;
    min-height:80vh;
    margin-top: 16px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 7px;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-row: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output #display {
    color: white;
    font-size: 2.5rem;
}

.output #total {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
